@model BEUProyecto.Evento

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Esta seguro que desea eliminar este Evento del sistema?</h3>
<div>
    <h4>Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_final)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.organizador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.organizador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
