@model IEnumerable<BEUProyecto.Evento>

@{
    ViewBag.Title = "Evento";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <thead class="bg-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_final)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.organizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria.nombre)
            </th>
            <th></th>
        </tr>


    </thead>
 

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_final)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.organizador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.nombre)
        </td>
        <td>
            <div class="btn-group">

                @Html.ActionLink("  ", "Edit", new { id = item.idevento }, htmlAttributes: new { @class = "btn btn-sm btn-warning glyphicon glyphicon-pencil", @title = "Editar" })
                @Html.ActionLink("  ", "Details", new { id = item.idevento }, htmlAttributes: new { @class = "btn btn-sm btn-primary glyphicon glyphicon-search", @title = "Ver" })
                @Html.ActionLink("  ", "Delete", new { id = item.idevento }, htmlAttributes: new { @class = "btn btn-sm btn-danger glyphicon glyphicon-trash", @title = "Borrar" })
            </div>
        </td>
    </tr>
}

</table>
